body{
    background-color: beige;
}
p{
    font-size: 50px;
    
}
ul{
    list-style-type: square;
    list-style-position: inside;
   
}
ol{
    list-style-type: circle;
    list-style-position: outside;
}
/* list-style-type: decimal */
/* list-style-type: disc */
/* list-style-type: circle */
/* list-style-type: lower-alpha */
/* list-style-type: upper-alpha */
/* list-style-type: lower-roman */
/* list-style-type: upper-roman */
table{
    background-color: white;
    border: 1px solid black;
    size: 10%;
    padding: 20px;
    border-style: solid;
}
th,td{
    background-color: burlywood;
    border: 1px solid black;
    size: 10%;
    padding: 20px;
    border-style: solid;
}